body{
    background-color: rgb(55, 55, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 96vh;
    
}

button {
    height: 79px;
    width: 69px;
    margin: 10px;
    font-size: 40px;
}
.number{
    border: 2px solid white;
    border-radius: 12%;
    background-color: white;
}
.number:hover{
    background-color: rgb(80, 79, 79);
}
.operator{
    border: 2px solid white;
    border-radius: 12%;
    background-color: blue;
}
.operator:hover{
background-color: rgb(80, 79, 79);
}
.equal{
    border: 2px solid white;  
    border-radius: 12%;
    background-color: red;
}
.equal:hover{
    background-color: rgb(80, 79, 79);
}
.deci{
    border: 2px solid whitesmoke;
    border-radius: 12%;
    background-color: red;
}
.deci:hover{
    background-color: rgb(80, 79, 79);
}
.clear{
    border: 2px solid white;
    background-color: red;
    border-radius: 12%;
}
.clear:hover{
    background-color: rgb(80, 79, 79);
}
.screen{
    width: 270px;
    height: 75px;
    border: 2px solid white;
    margin: 13px;
}
.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.top{
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    height: 40px;
}
.bottom{
    font-size: 29px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end ;
}
.rainbow {
    background-image: linear-gradient(to left, blue, green, yellow, orange, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }