body{
    background-color: rgb(55, 55, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 96vh;
    
}

button {
    height: 79px;
    width: 69px;
    margin: 10px;
    font-size: 40px;
}
.number{
    border: 2px solid lightgreen;
    border-radius: 12%;
    background-color: rgb(80, 80, 80);
}
.number:hover{
    background-color: lightgreen;
}
.operator{
    border: 2px solid red;
    border-radius: 12%;
    background-color: rgb(80, 80, 80);
}
.operator:hover{
background-color: red;
}
.equal{
    border: 2px solid gold;  
    border-radius: 12%;
    background-color: rgb(80, 80, 80);
}
.equal:hover{
    background-color: gold;
}
.deci{
    border: 2px solid blue;
    border-radius: 12%;
    background-color: rgb(80, 80, 80);
}
.deci:hover{
    background-color: blue;
}
.clear{
    border: 2px solid red;
    background-color: rgb(80, 80, 80);
    border-radius: 12%;
}
.clear:hover{
    background-color: red;
}
.screen{
    width: 250px;
    height: 75px;
    border: 2px solid black;
    margin: 13px;
}
.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.top{
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    height: 40px;
}
.bottom{
    font-size: 29px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end ;
}